<%= render partial: 'spree/admin/shared/post_tabs', locals: {current: "Categories"} unless request.xhr? %>

<%= form_for(@post_category, url: admin_post_categories_path(@post)) do |form| %>
  <fieldset>
    <legend><%= t('spree_essential_content.admin.post_category_new') %></legend>

    <% if @post_category.try(:errors).present? %>
      <%= render 'spree/shared/error_messages', target: @post_category %>
    <% end %>

    <%= render 'form', form: form %>

    <div class="filter-actions actions">
      <%= button t('spree.create'), 'ok' %>
      <span class="or"><%= t('spree.or') %></span>
      <%= link_to_with_icon 'remove', t('spree.cancel'), admin_post_categories_path(@post), id: 'cancel_link', class: 'button' %>
    </div>
  </fieldset>
<% end %>

<script type="text/javascript">
  jQuery('#cancel_link').click(function (event) {
    event.preventDefault()
    jQuery('#btn_new_category').show();
    jQuery('#new_category').html('');
  });
</script>
