<%= render partial: 'spree/admin/shared/post_tabs', locals: {current: "Images"} %>

<%= render 'spree/admin/shared/error_messages', target: @post_image %>

<% content_for :page_title do %>
  / Edit Image
<% end %>

<%= form_for([:admin, @post.id, @post_image], url: admin_post_image_url(@post, @post_image), html: { multipart: true }) do |form| %>

  <div class="row">
    <div class="col-2">
      <div class="form-group"">
        <%= f.label I18n.t('spree.thumbnail') %><br />
        <%= link_to image_tag(main_app.url_for(@post_image.url(:small))), main_app.url_for(@post_image.url(:large)) %>
      </div>
    </div>
    <div class="col-10">
      <%= render 'form', locals: { f: f } %>
    </div>
  </div>

  <%= render partial: 'spree/admin/shared/edit_resource_links' %>
<% end %>