<% content_for :page_title do %>
  <%= I18n.t('spree.essential_content.admin.upload_edit') %>
<% end %>

<% if @upload.try(:errors).present? %>
  <%= render 'shared/error_messages', target: @upload %>
<% end %>

<%= form_for([:admin, @upload], html: { multipart: true }) do |f| %>
  <fieldset data-hook="edit_upload">
    <legend align="center"><%= @upload.attachment_file_name%></legend>
    <div class="field alpha three columns align-center">
      <% if @upload.image_content? %>
        <%= f.label I18n.t('spree.essential_content.upload.preivew') %><br/>
        <%= link_to image_tag(main_app.url_for(@upload.url(:small)), main_app.url_for(@upload.url(:original))) %>
      <% else %>
        <%= f.label I18n.t('spree.essential_content.upload.link') %><br/>
        <%= link_to @upload.attachment_file_name, @upload.attachment.url %>
      <% end %>
    </div>
    <div class="col_10">
      <%= render "form", locals: { f: f } %>
    </div>
    <div class="clear"></div>
    <div class="filter-actions actions">
      <%= button I18n.t('spree.update'), 'refresh' %>
      <span class="or"><%= I18n.t('spree.or') %></span>
      <%= button_link_to I18n.t('spree.cancel'), admin_uploads_path, icon: 'remove' %>
    </div>
  </fieldset>
<% end %>